html{
  text-align: center;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}
.povratak{
	float:right;
	background:none;
	border:none;
	cursor: pointer;
}

#myContainer {
    background: rgba(0,0,0,0.7);
    margin-top: 70px;
    height: 370px;
    width: 370px;
    margin-bottom: 100px;
}

#cardHeader {
	font-size: 40px;
	color: white;
}

.margina {
  margin-right: 20px;
}
#div{
	background-color: orange;
}
.myLabelText {
    color: white;
}

body {overflow-x: hidden;}

a { 
    font-size: 18px;
    width: max-content;
    color: white;
}

.link{
	color:black;
	text-decoration: none;
}
.link hover{
	color: white;
}

#emailInput{width:200px;}

section{
    color: white;
    font-family: sans-serif;
   	background: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    background-size: cover;
    background-position: top;
    width: 100vw;
    height: 105vh;
    padding: 75px 200px;
    text-align: center;
}

#title{
    margin-top: 8vh;
    color: black;
    font-weight: 600;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    background-color: none;
    margin-bottom: 10vh;
}

#buttonSearch{
    color: black;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 20px;
    position: absolute;
    cursor:pointer;
    user-select: none;
}

#buttonSearch:hover{
    color: grey;
}

#search{
    display: none;
    margin-top: 7vh;
    padding: 10px;
    border-radius: 10px;
    float: left;
}

#searchButton{
    background-color: #343a40;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 5px;
}

.my-custom-scrollbar {
    float: left;
    width: 100%;
    height: 400px;
    overflow: auto;
    margin-top: 5vh;
}

.table-wrapper-scroll-y {
    display: block;
}

#userTable{
    background-color: orange;
    color: black;
}


#userTableHeader{
    background: black;
    color: white;
    
}