html{
  text-align: center;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}
.form-inline{
	background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

.loginForm{
    background: #ff7733;
    border-radius: 10%;
    width: 400px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    text-align: center;
}
.loginForm input[type="text"], .loginForm input[type="password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid white;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    border-radius: 24px;
    transition: 0.25s;
}
.loginForm input[type="text"]:focus, .loginForm input[type="password"]:focus{
    width: 280px;
    border-color: black;
}
.loginBtnStyle{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
.btn{
    border: 0;
    background: none;
    display: block;
    cursor: pointer;
    margin: 20px auto;  
}
